RutasPZ\RutasPZ\dist\**
RutasPZ\RutasPZ\build\**
*.properties
*.properties
RutasPZ/build/built-jar.properties
/RutasPZ/nbproject/private/
/RutasPZ/dist/
/RutasPZ/build/
RutasPZ/nbproject/private/private.properties
*.properties
